


<div class="banner">
    <h1 class="banner-title">Welcome to <br /> The University of Futureville</h1>
</div>

<div class="create-profile text-div">
    <p>Welcome to The University of Futureville, where the quality of education takes priority. If your a new student please click register below to create your account. <br /> <br /> <a asp-action="SignUp"><ion-icon name="person-add"></ion-icon> Register Now</a> <br /><a asp-action="LogIn"><ion-icon name="person-add"></ion-icon> Log In</a></p>
</div>